page-giftcard {
.gift_card{

  background:#111D42 url("http://alokitosovna.com/blue-color.jpg")
}
  h2{
    font-size: 24px!important;
    font-weight: bold;
    color: #fff;
  }
  p{
      color: #ffffff !important;
    border:0 !important;
  }
  ion-item{
     border:0 !important;
  }
}
